.cont-pai {
  width: 95%;
  margin: 1% auto;
  display: flex;
  flex-direction: column;
  border-radius: 9px;
  margin-bottom: 6%;
}

.cont-header {
  width: 100%;
}

.cont-tab {
  width: 100%;
  background-color: #ffffff;
  border-radius: 10px;
}
