.cont-border {
  border: 1px solid var(--p-violet-800);
  border-radius: 9px;
}

.card-wrapper {
  width: 100%;
  padding: 0.5rem;
  box-sizing: border-box;
}

.card-item {
  width: 32%;
  height: 100px;
  margin: 1% auto;
}

.card-content {
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

:host ::ng-deep .p-card {
  width: 100%;
  height: auto;
  box-sizing: border-box;
}

.style-item-card {
  margin: 3%;
}
