<app-header *ngIf="currentUser" [userLogin]="currentUser"></app-header>
<main *ngIf="currentUser">
  <ng-container
    *ngTemplateOutlet="
      currentUser.user.role === 'professor' ? perfilProf : perfilAlun
    "
  ></ng-container>
</main>

<ng-template #perfilProf>
  <div class="conteudo">
    <app-user-panel
      [alunos]="alunos"
      [cardsProf]="cardsProf"
      [isProfessor]="true"
    ></app-user-panel>
  </div>
</ng-template>

<ng-template #perfilAlun>
  <div class="conteudo">
    <app-user-panel
      [isProfessor]="false"
      [disciplinas]="disciplinas"
      [cardsAlun]="cardsAlun"
    >
    </app-user-panel>
  </div>
</ng-template>
