<div class="cont-pai-panel">
  <div class="cont-header-panel" *ngIf="isProfessor">
    <app-card-dashboard
      *ngFor="let cardItem of cardsProf"
      [tipo]="cardItem.tipo"
      [value]="cardItem.value"
    ></app-card-dashboard>
  </div>
  <div class="cont-header-panel" *ngIf="!isProfessor">
    <app-card-dashboard
      *ngFor="let cardItem of cardsAlun"
      [tipo]="cardItem.tipo"
      [value]="cardItem.value"
    ></app-card-dashboard>
  </div>
  <div class="cont-graph" *ngIf="isProfessor">
    <div style="display: flex; align-items: center; gap: 1%">
      <h2 class="titulo">Desempenho por Disciplina</h2>
      <i
        class="pi pi-chart-bar"
        style="font-size: 2.5rem; color: var(--p-violet-800); margin-top: 5px"
      ></i>
    </div>
    <div class="cont-border">
      <app-efficiency-graph></app-efficiency-graph>
    </div>
  </div>
  <div class="cont-graph" *ngIf="!isProfessor">
    <div style="display: flex; align-items: center; gap: 1%">
      <h2 class="titulo">Notas por Disciplina</h2>
      <i
        class="pi pi-chart-line"
        style="font-size: 2.5rem; color: var(--p-violet-800); margin-top: 5px"
      ></i>
    </div>
    <div class="cont-border">
      <app-note-graph></app-note-graph>
    </div>
  </div>
  <div class="panel-container">
    <app-generic-carousel (notificarModalAluno)="onModalAlunos()"
      *ngIf="isProfessor"
      [title]="'Turmas'"
      [items]="turmas"
      [type]="'turma'"
    >
    </app-generic-carousel>

    <app-generic-carousel
      *ngIf="!isProfessor"
      [title]="'Disciplinas'"
      [items]="disciplinas"
      [type]="'disciplina'"
    >
    </app-generic-carousel>

    <p-dialog
      header="Alunos da Turma"
      [(visible)]="visible"
      [style]="{ width: '70vw', height: '80vh' }"
      [modal]="true"
      [closable]="true"
    >
      <div class="card">
        <p-table #tableAlunos
          [value]="alunos"
          [paginator]="true"
          [rows]="5"
          [tableStyle]="{ 'min-width': '50rem' }"
          [rowsPerPageOptions]="[5, 10, 20]"
        >
          <ng-template #caption>
            <div class="flex">
              <p-iconfield iconPosition="left" class="ml-auto">
                <p-inputicon>
                  <i class="pi pi-search"></i>
                </p-inputicon>
                <input pInputText type="text" [(ngModel)]="filtroGlobal"  (input)="tableAlunos.filterGlobal(filtroGlobal, 'contains')"   placeholder="Pesquisar" />
              </p-iconfield>
            </div>
          </ng-template>
          <ng-template #header>
            <tr style="width: 100%">
              <th pSortableColumn="alunoNome" class="col-table">
                Name <p-sortIcon field="alunoNome" />
              </th>
              <th pSortableColumn="matricula" class="col-table">
                Matricula <p-sortIcon field="matricula" />
              </th>
              <th pSortableColumn="curso" class="col-table">
                Curso <p-sortIcon field="curso" />
              </th>
              <th pSortableColumn="mediaFinal" class="col-table">
                Nota <p-sortIcon field="mediaFinal" />
              </th>
              <th class="col-table">Status</th>
              <th class="col-table">Frequência</th>
              <th class="col-table">Ações</th>
            </tr>
          </ng-template>
          <ng-template #body let-aluno>
            <tr>
              <td>{{ aluno.alunoNome }}</td>
              <td>{{ aluno.matricula }}</td>
              <td>{{ aluno.curso }}</td>
              <td>
                <p-tag
                  [value]="aluno.mediaFinal"
                  [severity]="obterAprovadoEReprovado(aluno.mediaFinal)"
                ></p-tag>
              </td>
              <td>
                <p-tag
                  [value]="aluno.mediaFinal"
                  [severity]="obterAprovadoEReprovado(aluno.mediaFinal)"
                ></p-tag>
              </td>
              <td>
                <div class="card flex justify-center">
                  <p-togglebutton
                    [(ngModel)]="aluno.presenca"
                    onLabel="Presente"
                    offLabel="Ausente"
                    onIcon="pi pi-thumbs-up"
                    offIcon="pi pi-thumbs-down"
                    onIcon="pi pi-thumbs-up"
                    offIcon="pi pi-thumbs-down"
                    styleClass="w-36"
                    ariaLabel="Do you confirm"
                  />
                </div>
              </td>
              <td>
                <div class="cont-btn">
                  <button
                    pButton
                    type="button"
                    icon="pi pi pi-save"
                    label="Salvar"
                    severity="secondary"
                    class="botao"
                  ></button>
                  <button
                    pButton
                    type="button"
                    icon="pi pi-user-minus"
                    label="Faltas"
                    class="botao"
                    (click)="mostrarFaltas(aluno.alunoId)"
                  ></button>
                </div>
              </td>
            </tr>
            <tr *ngIf="alunoSelecionado === aluno.alunoId">
              <td colspan="7">
                <p-accordion>
                  <p-accordionTab header="Histórico de Faltas">
                    <!-- conteúdo dinâmico aqui -->
                    <ul>
                      <li *ngFor="let aluno of alunos">
                        {{ aluno.curso }} -
                        {{ aluno.presenca }}
                      </li>
                    </ul>
                  </p-accordionTab>
                </p-accordion>
              </td>
            </tr>
          </ng-template>
        </p-table>
      </div>
    </p-dialog>
  </div>
</div>
